{% load static %}
<body onload="NextQuestion(0)">
    <div id="homie" style="position: absolute; top: 0; left: 0;">
        <a href="{% url 'home' %}"><span></span><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"  class="bi bi-house-heart-fill" viewBox="0 0 16 16">
          <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707z"/>
          <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018"/>
        </svg></a>
    </div>
    <main>
    

        <!-- creating a modal for when quiz ends -->
        <div class="modal-container" id="score-modal">
                
                <div class="modal-content-container">
                    <h1>Congratulations, Quiz Completed.</h1>
                    <div class="grade-details">
                        {% csrf_token %}
                        <p>Attempts : 63</p>
                        <p>Your Answers : <span id="list-answers"></span></p>
                        <p>Right Answers : <span id="right-answers"></span></p>

                        
                        <p>Grade : <span id="grade-percentage"></span>%</p>
                        <p><span id="remarks"></span></p>
                    </div>
                    <form id="dataForm">
                        <button class="button111" style="vertical-align:middle"><span>SUBMIT </span></button>
                    </form>
                    {% comment %} <div class="banner-btn">
                        <a href="{% url 'result' %}" ><span></span>result</a>
                    </div> {% endcomment %}
                    <div class="modal-button-container">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

                        <script>
                            // Place your JavaScript code here
                            $(document).ready(function() {
                                function sendData() {
                                    var inputData = $('#list-answers').text().split(','); 
                                    $.ajax({
                                        type: "POST",
                                        url: "/test/",
                                        data: {
                                            'data':JSON.stringify(inputData) ,
                                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                                        },
                                        success: function(response) {
                                            console.log("Data sent successfully");
                                            window.location.href = "{% url 'result' %}";
                                        },
                                        error: function(xhr, status, error) {
                                            console.error("Error sending data:", error);
                                        }
                                    });
                                };
                                $('#dataForm').on('click', function(event) {
                                    event.preventDefault(); // Prevent default anchor behavior
                                    sendData(); // Call sendData function
                                });
                            });
                        </script>
                    </div>
                    
                </div>
            </div>
    <!-- end of modal of quiz details-->
    <div class="game-quiz-container">
        <br>
        <div id="timer" style="display: flex;">
            <div>Time Left : </div>
            <div id="hours" style="margin-left: 20px;"></div>
            <div id="minutes" style="margin-left: 20px;"></div>
            <div id="seconds" style="margin-left: 20px;"></div>
        </div>
        
        <div class="game-details-container">
            <!-- <h1>Score : <span id="player-score"></span> / 40</h1> -->
            <h1> Question : <span id="question-number"></span> / 63</h1>
        </div>
        
        <div class="game-question-container">
            <h1 id="display-question"></h1>
        </div>
        <br>
        <div class="game-options-container">
            
            <div class="modal-container" id="option-modal">
                
                <div class="modal-content-container">
                    <h1>Please Pick An Option</h1>
                    
                    <div class="modal-button-container">
                        <button onclick="closeOptionModal()">Continue</button>
                    </div>
                    
                </div>
                
            </div>
            
            <span>
                <input type="radio" id="option-one" name="option" class="radio" value="optionA" />
                <label for="option-one" class="option" id="option-one-label"></label>
            </span>
            
            
            <span>
                <input type="radio" id="option-two" name="option" class="radio" value="optionB" />
                <label for="option-two" class="option" id="option-two-label"></label>
            </span>
            
            
            <span>
                <input type="radio" id="option-three" name="option" class="radio" value="optionC" />
                <label for="option-three" class="option" id="option-three-label"></label>
            </span>
            
            
            <span>
                <input type="radio" id="option-four" name="option" class="radio" value="optionD" />
                <label for="option-four" class="option" id="option-four-label"></label>
            </span>
            
            
        </div>
        <br>
        <div class="next-button-container">
            <button onclick="handleNextQuestion()">Next Question</button>
        </div>
        <br>
        
    </div>
</main>
<script src="{% static '/js/test_page1sl.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/test_page1.css' %}">
</body>